<footer>
  <p>
    {% if site.github_username %}
    <a itemprop="github" href="https://github.com/{{ site.github_username }}" title="Github">
      <svg>
        <use xlink:href="#icon-github"></use>
      </svg>
    </a>
    {% endif %} {% if site.facebook_username %}
    <a itemprop="facebook" href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
      <svg>
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </a>
    {% endif %} {% if site.twitter_username %}
    <a itemprop="twitter" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
      <svg>
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
    {% endif %} {% if site.medium_username %}
    <a itemprop="medium" href="https://medium.com/@{{ site.medium_username }}" title="Medium">
      <svg>
        <use xlink:href="#icon-medium"></use>
      </svg>
    </a>
    {% endif %} {% if site.instagram_username %}
    <a itemprop="instagram" href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
      <svg>
        <use xlink:href="#icon-instagram"></use>
      </svg>
    </a>
    {% endif %} {% if site.linkedin_username %}
    <a itemprop="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
      <svg>
        <use xlink:href="#icon-linkedin"></use>
      </svg>
    </a>
    {% endif %}
    <p>
      <style>
        .bmc-button img {
          width: 27px !important;
          margin-bottom: 1px !important;
          box-shadow: none !important;
          border: none !important;
          vertical-align: middle !important;
        }

        .bmc-button {
          line-height: 36px !important;
          height: 37px !important;
          text-decoration: none !important;
          display: inline-flex !important;
          color: #000000 !important;
          background-color: #FFDD00 !important;
          border-radius: 3px !important;
          border: 1px solid transparent !important;
          padding: 1px 9px !important;
          font-size: 23px !important;
          letter-spacing: 0.6px !important;
          ;
          box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
          -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
          margin: 0 auto !important;
          font-family: 'Cookie', cursive !important;
          -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
          -o-transition: 0.3s all linear !important;
          -webkit-transition: 0.3s all linear !important;
          -moz-transition: 0.3s all linear !important;
          -ms-transition: 0.3s all linear !important;
          transition: 0.3s all linear !important;
        }

        .bmc-button:hover,
        .bmc-button:active,
        .bmc-button:focus {
          -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
          text-decoration: none !important;
          box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
          opacity: 0.85 !important;
          color: #000000 !important;
        }
      </style>
      <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
      <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/krishnaanaril">
        <img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a mocha">
        <span style="margin-left:5px">Buy me a mocha</span>
      </a>
    </p>
  </p>
  <ul>
    {% for link in site.links %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
    </li>
    {% endfor %}
    <li>
      <a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a>
    </li>
  </ul>
  <p>
    <span>Jekflix</span> was made with
    <svg class="love">
      <use xlink:href="#icon-heart"></use>
    </svg> by
    <a href="http://www.rossener.com" target="_blank" class="creator">Thiago Rossener</a>
  </p>
</footer>
<script src="{{ " /assets/js/main.js " | prepend: site.baseurl }}"></script> {% include stats.html %}